@{
    ViewData["Title"] = "Home Page";
}

@if (User.Identity!.IsAuthenticated)
{
    <p>Some data from you <strong>@User.Identity.Name</strong>!</p>
}
else
{
    <h2>Here's the home page!</h2>
    <p>I know nothing about you. Log in first!</p>
}


