@{
    ViewData["Title"] = "Home";
}

@if (User.Identity!.IsAuthenticated)
{
    <div class="pricing-header p-3 pb-md-4 mx-auto text-center">
        <h1 class="display-4 fw-normal">Agora sabemos 😋</h1>
        <p class="fs-5 text-muted"><strong>@User.Identity.Name</strong></p>
    </div>    
}
else
{
    <div class="pricing-header p-3 pb-md-4 mx-auto text-center">
        <h1 class="display-4 fw-normal">Não sabemos quem é você 🥲</h1>
        <p class="fs-5 text-muted">Se autentique e veja o se perfil!</p>
    </div>
}


