{% extends "core/templates/base.html" %}

{% block content %}

    {% if 'user' in request.session %}
        <div class="pricing-header p-3 pb-md-4 mx-auto text-center">
            <h1 class="display-4 fw-normal">Agora sabemos 😋</h1>
            <p class="fs-5 text-muted"><strong>{{ request.session.user.name }} / {{ request.session.user.sub }}</strong>
            </p>
        </div>

        <div class="row center-align">
        <button class="btn-see-your-data btn btn-light">Clique aqui e veja os dados do endpoint userinfo!</button>
        </div>

        {% include "core/components/profile.html" %}
        {% if suggested_users and suggested_users|length > 0 %}
            {% include "core/components/same_accounts.html" %}
        {% endif %}
        {% include "core/components/linked_accounts.html" %}
    {% else %}
        <div class="pricing-header p-3 pb-md-4 mx-auto text-center">
            <h1 class="display-4 fw-normal">Não sabemos quem é você 🥲</h1>
            <p class="fs-5 text-muted">Se autentique e veja o se perfil!</p>
        </div>
    {% endif %}

{% endblock %}
